<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    Update Password
                </div>
                <div class="card-body">
                    <form [formGroup]="editForm" (ngSubmit)="editPassword()">
                        <div class="alert alert-success" *ngIf="success">
                            Successfully updated
                        </div>
                        <div class="alert alert-danger" *ngIf="failure">
                            Invalid User ID / Password
                        </div>
                        <div class="alert alert-danger" *ngIf="error">
                            Server error. Pls try later
                        </div>
                        <div class="form-group">
                            <label for="Username">User Id / UserName</label>
                            <input class="form-control" type="text" placeholder="Enter Username" name="uname"
                                formControlName="username" [readonly]="'true'">
                        </div>
                        <div class="form-group">
                            <label for="password">Current Password</label>
                            <input class="form-control" type="password" placeholder="Enter password" name="pwd"
                                formControlName="password">
                            <span class="validation-error" *ngIf="password.touched && !password.hasError('required')"> *Password
                                Requried</span>
                            <span class="validation-error" *ngIf="password.touched && !password.hasError('minLength')"> *Password
                                must be minimum 8 characters long</span>
                        </div>
                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input class="form-control" type="password" placeholder="Enter new password" name="newPwd"
                                formControlName="newPassword">
                            <span class="validation-error" *ngIf="newPassword.touched && !newPassword.hasError('required')"> *New
                                Password
                                Requried</span>
                            <span class="validation-error" *ngIf="newPassword.touched && !newPassword.hasError('minLength')"> *New
                                Password must be minimum 8 characters long</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 ">
                                <button type="submit" class="btn btn-primary" [disabled]="!this.editForm.valid">
                                    Update
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>