<div class="row p-3 bg-white">
    <div class="col-12 d-flex justify-content-end">
        <a class="btn btn-primary text-white" [routerLink]="['add']" >Add Company</a>
    </div>
</div>
<div class="row bg-white pt-1 pb-3 pr-3 pl-3">
    <div class="col-12">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Company Name</th>
                    <th>Stock Exchanges</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of companyList; let i = index">
                    <td>{{i+1}} </td>
                    <td>{{company.name}}</td>
                    <td>{{getStockExchanges(company)}}
                    </td>
                    <td class="d-flex align-items-center">
                        <button class="circle" [title]="company.active?'Click to Deactivate':'Click to Activate'" (click)="toggleActive(company)" [ngClass]="{'active': company.active, 'inactive':!company.active}"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>